body {
  display: block;
  margin: 8px;
  background-color: #dad6ce;
}
/* ==== Nav ==== */

.nav-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #dad6ce;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.nav-logo-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 15px;
}

.title {
  padding-left: 6em;

}

.nav-logo {
  text-decoration: none;
  color:black;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 45%;
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  padding-right: 50px;
  font-size: 20px;
}

/* ==== Main ==== */

.main-container {
  background: white;
  height: 600px;
  padding: 40px;
  margin: 4em;
  
}

.about-title {
  margin: 2em;
}

.about-title h1 {
  font-size: 60px;
}

.about-container {
  margin: 1em;
  width: 50%;
  font-size: 30px;
}